.dashboard{
    display: grid;

    .people-list {
        grid-row: 1 ;
        display:flex;
        flex-direction: column;
    }

    .bottom{
        grid-row: 2;

        button{
            width: 100%;
            border-radius: 10px;
            margin-bottom: 5px; 
            padding-top: 3px;
            padding-bottom: 3px;
            background: transparent;
            color: yellow;
            border: yellow;
            border-style: double;   
        }
    }

}

.error {
    text-align: center;
}