.details {
    display: grid;   
    
    .name {
        grid-column: 1 ;
        justify-self: center;
    }

    .content {
        display: flex;
        flex-wrap: wrap;

        justify-content: space-evenly;

        text-transform: capitalize;

        .boxes {
            flex-grow: 1;
            border-style: solid;
            border-radius: 10px;
            margin-left: 3px;
            margin-bottom: 3px;
            margin-right: 3px;
            
            padding-left: 8px;
            padding-right: 3px;
        }
    }

}